{% extends 'layout.html' %}

{% block isi_content %}
    <h1>Menambah Wilayah {{ x }} dan {{ y }}</h1>
    <div class="row">
        <div class="col-md-4">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Sapi</th>
                    <th scope="col">Pemilik</th>
                    <th scope="col">Prediksi Estrus</th>
                    <th scope="col">Pada Tanggal</th>
                    <th scope="col">Wilayah</th>
                  </tr>
                </thead>
                <tbody>
                {% for data in prediksi %}
                  <tr>
                    <td>{{ data[0] }}</td>
                    <td>{{ data[1] }}</td>
                    <td>{{ data[2] }}</td>
                    <td>{{ data[3] }}</td>
                    <td>{{ data[4] }}</td>
                    <td>
                        {% if data[0]==1 %} Birahi {% else %} Tidak Birahi {% endif %}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
{% endblock %}