{% extends 'layout.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block isi_content %}
    <h1>Menambah Wilayah</h1>
    <div class="row">
        <div class="col-md-4">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">sapi_id</th>
                    <th scope="col">prediksi</th>
                  </tr>
                </thead>
                <tbody>
                {% for data in prediksi %}
                  <tr>
                    <td>{{ data.sapi_id }}</td>
                    <td>
                        <!-- {% if data.estrus==1 %} Birahi {% else %} Tidak Birahi {% endif %} -->
                        {{ data.estrus }}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
{% endblock %}