{% extends 'layout.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block head %}
  {{ super() }}
  <link type="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
{% endblock %}
{% block isi_content %}
    <h1>Menambah Sapi</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(fm) }}
        </div>
    </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ moment.include_moment() }}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript">
    $(function () {
      $('#ib').datetimepicker();
    });
    $(function () {
      $('#pkb').datetimepicker();
    });
  </script>
{% endblock %}